<div class="row">
  <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
  <div class="col s12">
    <div class="card cardBack">
      <div class="card-content">
        <span class="card-title"><h4>Top Rated Blogs</h4></span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
  <div class="col s12">
    <div class="card cardBack">
      <div class="card-content" >
        <div #favouritesList>
          <div *ngFor="let item of blogItems" id="favouritesList">
            <app-blog-header
              [item]="item"
              [user]="user"
              (notifyFavourite)="editFav($event)"
              (notifyOpen)="openBlog($event)"
              *ngIf="item.rating>=4">
            </app-blog-header>
          </div>
        </div>
        <div *ngIf="emptyFav">
          <h5>No Top Rated Blogs To Show</h5>
        </div>
      </div>
    </div>
  </div>
</div>
